/* Agrega estos estilos al final de App.css */

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.product button {
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.product button:hover {
  background-color: #45a049;
}


/* Estilos de imagenes */

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}



