body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
}

.search input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.cart {
  cursor: pointer;
  position: relative;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff5733; /* Naranja */
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

main {
  padding: 20px;
}

h1 {
  color: #333;
}


